<% provide(:title, "Beranda") %>
<%= render "header" %>
 <div class="container">


      <div class="row">
      <div class="col-lg-7">
        <h1>Mau Futsal? Yuk kesini!</h1>
        <br>
        <p class="lead"><strong>Yuk Futsal!</strong> Direktori informasi mengenai ketersediaan lapangan futsal, informasi harga, jadwal, dan peta tempat futsal khusus daerah Semarang dan sekitarnya</p><br><br>
        <p><a class="btn btn-lg btn-danger" href="<%= arena_path %>" role="button">Lihat Semua Arena</a></p>
        </div>

        <div class="col-lg-5 right-jumbo">
        	<i class="fa fa-futbol-o big-logo"></i>
        </div>
      </div>

		<div class="page-header">
			<h3>Arena Futsal Terpopuler</h3>
		</div>
      
    <%= render "listarena" %>
     

      <%= render "footer" %>

    </div> <!-- /container -->