<% provide(:title, "Beranda") %>
<%= render "header" %>
 <div class="container">


      <div class="row">
      <div class="col-lg-7">
        <h1>Mau Futsal? Yuk kesini!</h1>
        <p class="lead"><strong>Yuk Futsal!</strong> Direktori informasi mengenai ketersediaan lapangan futsal, informasi harga, jadwal, dan peta tempat futsal khusus daerah Semarang dan sekitarnya</p><br><br><br>
        <p><a class="btn btn-lg btn-danger" href="#" role="button">Lihat Tempat Futsal</a></p>
        </div>

        <div class="col-lg-5 right-jumbo">
        	<i class="fa fa-futbol-o big-logo"></i>
        </div>
      </div>

		<div class="page-header">
			<h3>Tempat Populer</h3>
		</div>
      <div class="row">
      	<div class="col-lg-2">
      		<i class="fa fa-bookmark-o mini-logo"></i>
      	</div>
        <div class="col-lg-8">
          <h2>Subheading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
        <div class="col-lg-2">
        	<div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-map-o fa-fw"></i> Lihat Peta</a>
  <a class="list-group-item" href="#"><i class="fa fa-calendar-plus-o fa-fw"></i> Jadwal</a>
  <a class="list-group-item active" href="#"><i class="fa fa-phone-square fa-fw"></i> Hubungi!</a>
</div>
        </div>
      </div>
      <hr>

      <div class="row">
      	<div class="col-lg-2">
      		<i class="fa fa-bookmark-o mini-logo"></i>
      	</div>
        <div class="col-lg-8">
          <h2>Subheading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
        <div class="col-lg-2">
        <div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-map-o fa-fw"></i> Lihat Peta</a>
  <a class="list-group-item" href="#"><i class="fa fa-calendar-plus-o fa-fw"></i> Jadwal</a>
  <a class="list-group-item active" href="#"><i class="fa fa-phone-square fa-fw"></i> Hubungi!</a>
</div>
        </div>
      </div>
      <hr>

      <div class="row">
      	<div class="col-lg-2">
      		<i class="fa fa-bookmark-o mini-logo"></i>
      	</div>
        <div class="col-lg-8">
          <h2>Subheading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
        <div class="col-lg-2">
        <div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-map-o fa-fw"></i> Lihat Peta</a>
  <a class="list-group-item" href="#"><i class="fa fa-calendar-plus-o fa-fw"></i> Jadwal</a>
  <a class="list-group-item active" href="#"><i class="fa fa-phone-square fa-fw"></i> Hubungi!</a>
</div>
        </div>
      </div>
      <hr>

      <footer class="footer">
        <p>© 2015 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->