
<hr>
<div class="row">
<div class="loading-row"></div>
<% if @f.galleries.present? %>

  <% @f.galleries.each_with_index do |a, index| %>
  
 <div class="col-xs-6 col-md-3">
	<div class="thumbnail">
		<a href="#">
		  <%= image_tag(a.image_url(:thumb), :class => "img-thumbnail img-responsive") %>
		</a>
		<div class="caption">
		    <center>
		    <%= link_to "Hapus", dashboard_futsal_place_gallery_path(@f.id, a.id), method: :delete, remote: true, data: { confirm: "Apakah anda ingin menghapus gambar ini?" }, class: "text-danger link-delete"  %>
		    </center>
		</div>
	</div>
 </div>
  <% end %>

<% else %>
	<div class="alert alert-warning">Belum ada gambar yang ditambahkan</div>
<% end %>

 

</div>

<script>
	$(document).on('change', '.btn-file :file', function() {
		$(".loading").html("<center><i class='fa fa-circle-o-notch fa-spin'></i> Uploading...</center>");
		$( ".form-gallery" ).submit();
		// $( ".form-gallery" ).bind('ajax:beforeSend', function(){
		// 	console.log("Uploading");
		// })

		$(document).on('submit','form.form-gallery',function(){
			console.log("Uploading");
		});

	});
	$('.link-delete').bind('ajax:beforeSend', function() {
		$(".loading-row").html("<center><i class='fa fa-circle-o-notch fa-spin'></i> Deleting image...</center>");
	});
</script>

