/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "*";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
$nprogress-color: #82BD7D;
$nprogress-height: 5px;
$nprogress-zindex: 10100;
@import "nprogress";
@import "nprogress-bootstrap";

@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

body.home {
	background-image: url("http://labs.mkhuda.com/yukfutsal/headeryukfutsal.png");
	background-repeat: repeat-x;
	font-family: 'Quattrocento Sans', sans-serif !important;
	    background-size: 24%;
    background-position-y: 305px;
}

body.list {
	background-image: url("http://labs.mkhuda.com/yukfutsal/headeryukfutsal.png");
	background-repeat: repeat-x;
	font-family: 'Quattrocento Sans', sans-serif !important;
	    background-size: 24%;
    background-position-y: 305px;
}

body.home, body.list, body.dashboard {
	font-family: 'Quattrocento Sans', sans-serif !important;
	background-color: #fafafa;
}

body.session {
	font-family: 'Quattrocento Sans', sans-serif !important;	
}

body.home ol.breadcrumb a, body.list ol.breadcrumb a {
	color: #82BD7D !important;
}
body.home .dropdown-menu, body.list .dropdown-menu {
  min-width: 250px !important;
}
body.home .checkbox input[type="checkbox"], body.list .checkbox input[type="checkbox"] {
  margin-left: 1px !important;
}
body.home span.ember, body.list span.ember {
  margin-left: 2rem !important;
}

body.home .lead, body.list .lead {
	background: rgba(255, 255, 255, 0.15) !important;
    padding: 3px;
}

body.dashboard .page-header {
	text-align: left;
	margin-top: 5px !important;
	background: #eeeeee;
	color: #888888;
}  

body.dashboard .page-header h3, body.dashboard .page-header h4 {
	margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.yuk-logo {
	padding-top: 2px !important;
}

.text-info {
	color: #666666 !important;
	font-family: 'Quattrocento Sans', sans-serif !important;
}
body.list #the-content {
	// padding-top: 10px;
}

#the-content {
	padding-top: 55px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

// Scroll To Top
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.actions-box {
	position: relative;
	margin-top: -35px;
	display: none;
}

.page-header {
	text-align: center;
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    moz-border-radius: 4px;
    padding: 5px !important;
}

.page-header h3 {
	margin-top: 10px !important;
}

body.home .list-group-item.active, body.list .list-group-item.active {
    background-color: #4E5469 !important;
    border-color: #dddddd !important;
}