<div class="list-group list-group-root">

	<%= link_to "#", class: "list-group-item list-group-item-info" do %>
		<i class="fa fa-bars fa-fw"></i> Direktori
	<% end %>
		<div class="list-group">
			<%= link_to "#", class: "list-group-item" do %>
				<i class="fa fa-plus fa-fw"></i> Tambah Baru
			<% end %>
		</div>

	<%= link_to "#", class: "list-group-item list-group-item-info" do %>
		<i class="fa fa-male fa-fw"></i> Member
	<% end %>
		<div class="list-group">
		<%= link_to "#", class: "list-group-item" do %>
			<i class="fa fa-plus fa-fw"></i> Tambah Member
		<% end %>
		</div>

</div>